.descriptionContainer{
  margin: 0 auto;
  max-width: 800px;
  font-family: IBM_Plex_Mono, serif;
  font-size: 30px;
}
.textAbout{
  color: aliceblue;
}
.email{
  color: $textColor;
}
@media (max-width: $tablet){
  .logo{
    background-size: cover;
    width: 350px;
  }

}

@media (max-width: $phone){
  .logo{
    background-size: cover;
    width: 250px;
  }

}