.container{
    background-image: url("../../assets/img/loader/loaderPageBG.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.spaceship{
    background-image: url("../../assets/img/loader/spaceshipLoaderPage.svg");
    width: 641px;
    height: 350px;
    margin-top: 208px;
    margin-bottom: 298px;
}