.errorPageContainer{
  color: aliceblue;
  font-family: IBM_Plex_Mono, serif;
}
.namePage{
  font-size: 70px;
}
.descriptionContainer{
  margin: 0 auto;
  max-width: 750px;
  font-size: 40px;
  display: flex;
}
@media  (max-width: $tablet){
  .pickle{
    background-size: cover;
    width: 150px;
  }
  .descriptionContainer{
    margin: 0 auto;
    max-width: 750px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
  }
}